<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!--Latest compiled and minified Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- End of Bootstrap components -->
</head>

<body style="background-color: #eee;">
<div th:replace="navbar.html :: copy"></div>
<form class="form-horizontal" action='' method="POST">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3" th:text="${User.getName()}">Name</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <input th:if="${edit == true}" type="text" id="user_name" name="user_name" th:value="${User.getName()}"/>
                <p th:unless="${edit == true}"class="text-muted mb-0" id="dupa" th:text="${User.getName()}">Johnatan</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input th:if="${edit == true}" type="email" id="user_mail" name="user_mail" th:value="${User.getEmail()}"/>
                <p th:unless="${edit == true}" class="text-muted mb-0" th:text="${User.getEmail()}">example@example.com</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <input th:if="${edit == true}" type="number" id="user_phone" name="user_phone" th:placeholder="${telefon}"/>
                <p th:unless="${edit == true}" class="text-muted mb-0" th:if="${User.getBilling()!= null}" th:text="${User.getBilling().getPhone()}">Phone Number</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <input th:if="${edit == true}" type="text" id="user_city" name="user_city" th:placeholder="${city}"/>
                <p th:unless="${edit == true}" class="text-muted mb-0" th:if="${User.getBilling()!= null}" th:text="${User.getBilling().getCity()}">Cracow</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0" contenteditable="true">Street</p>
              </div>
              <div class="col-sm-9">
                <input th:if="${edit == true}" type="text" id="user_street" name="user_street" th:placeholder="${street}"/>
                <p th:unless="${edit == true}" class="text-muted mb-0" th:if="${User.getBilling()!= null}" th:text="${User.getBilling().getStreet()}">Karmelicka 6</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Zip-code</p>
              </div>
              <div class="col-sm-9">
                <input th:if="${edit == true}" type="number" id="user_zip" name="user_zip" th:placeholder="${zip_code}"/>
                <p th:unless="${edit == true}" class="text-muted mb-0" th:if="${User.getBilling()!= null}" th:text="${User.getBilling().getZipCode()}">30-238</p>
              </div>
            </div>
          </div>
        </div>
        <div>
        <div th:if="${edit == true}" class="registration">
            <button type="submit" formaction="/billing" formmethod="post" class="register-button">Save</button>
        </div>
      </div>
        <div th:unless="${edit == true}" class="registration">
          <button type="submit" formaction="/billing" formmethod="get" class="register-button">Edit</button>
        </div>
</form>
        <div class="login">
          <a href="/order">
            <button type="button" class="login-button">My Orders</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>