/*body{*/
/*    display: flex;*/
/*}*/

.dropdown{
    width: 250px;
    height: 100px;
    position: relative;
    margin: 2em;
    float: left;
    display: inline-block;
}

.dropdown * {
    box-sizing: border-box;
}

.select{
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}

.dropdowns {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: 60vh;
}

a {
    text-decoration: none;
    display: block;
}

#resetBtn {
    height: 60px;
    width: 100px;
    margin-top: 32px;
    text-decoration: none;
}

#resetBtn a {
    text-decoration: none;
    display: block;
    height: 60px;
    width: 100px;
    font-size: 20px;
    color: white;
    padding-top: 8px;
    margin-left: -13px;
    margin-top: -5px;
}

.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text {
    margin: 0 0 11px;
}
#login-register-button{
    background-color: white;
    color: black;
    border: 2px solid #428bca;
}
#login-register-button:hover{
    background-color: #428bca;
    color: white;
    border: 2px solid #428bca;
}
#login-button, #signup-button{
    display: inline-block;
}




#navbar {
    overflow: hidden;
    background-color: white;
    position: sticky;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #050505;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}
.login{
    float: right;
    margin-right: 0;
}
.registration{
    float: right;
    margin-right: 0;
}
.login-button{
    background-color: white;
    color: black;
    height: 40px;
    border-radius: 5px;
    border: 1px black solid;
}
.register-button{
    background-color: #428bca;
    color: white;
    height: 40px;
    border-radius: 5px;
    border: 1px #428bca solid;


}
.login-button:hover{
    cursor: pointer;
    background-color: #428bca;
    color: white;
    border:1px #428bca solid;
}
.register-button:hover{
    cursor: pointer;
    background-color: #26489a;
}

.loginContainer{
    background-color: #428bca;
}
